.staffer {
  display: flex;
  margin: $sp-4;

  .staffer-image {
    border-radius: 50%;
    height: 100px;
    margin-right: $sp-4;
  }

  p,
  .staffer-name {
    margin: $sp-1 !important;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;

    user-select: none;
  }

  .staffer-meta {
    @extend .text-grey-dk-000;
  }
}

.badge-ta {
  background-color: #0e5cc1;
  font-size: 10px;
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: 4px;
}

.badge-tutor {
  background-color: #89CFF0;
  font-size: 10px;
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: 4px;
}